@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --richblack: #0d1b2a;
   --oxfordblue: #1b263b;
   --yinblue: #415a77;
   --silverlakeblue: #778da9;
   --platinum: #e0e1dd;
}

::-webkit-scrollbar {
   width: 1vh;
}

::-webkit-scrollbar-track {
   background: var(--platinum);
}

::-webkit-scrollbar-thumb {
   background: var(--silverlakeblue);
}

::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.video-card {
   height: 30rem;
}

.w-90p {
   width: 90%;
}

.h-90p {
   height: 90%;
}

.max-h-90p {
   max-height: 90%;
}

.w-93p {
   width: 93%;
}

.h-93p {
   height: 93%;
}

.w-95p {
   width: 95%;
}

.h-95p {
   height: 95%;
}

.w-240 {
   width: 78rem;
}